header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1001;
    padding: 1em;
    transition: all .5s;
    background: $secondary;
    img{
        width: 100%;
        max-width: 120px;
        transition: all .5s;
        visibility: visible;
        opacity: 1;
        .mobile-active & {
            visibility: hidden;
            opacity: 0;
            @media screen and (min-width: 1024px){
                visibility: visible;
                opacity: 1;
            }
        }
    }
    @media screen and (min-width: 1024px){
        background: none;
        img{
            max-width: 200px;
        }
    }
    &.fixed{
        background: $secondary;
        img{
            max-width:120px;
        }
    }
    p{
        margin: 0;
    }
    .headerRight{
        position: relative;
        .fa{
            position: absolute;
            top: -5px;
            right: 10px;
            color: #fff;
            transition: right .25s;
            .mobile-active & {
                right: 300px;
            }
        }
    }
    nav{
        position: fixed;
        top: 0;
        right: -280px;
        height: 100%;
        width: 280px;
        background: $primary;
        z-index: 9999;
        transition: right .25s;
        padding-top: 1em;
        .mobile-active &{
            right: 0;
        }
        > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            > li {
                > a {
                    display: block;
                    color: #fff;
                    padding: 1em;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 900;
                    letter-spacing: 2px;
                    font-size: 1.25rem;
                    transition: all .5s;
                    position: relative;
                    border-bottom: 1px dashed darken($primary, 15%);
                }
            }
        }
        @media screen and (min-width: 1024px){
            text-align: right;
            position: relative;
            top: auto;
            right: auto;
            width: auto;
            background: none;
            padding-top: 0;
            > ul {
                > li {
                    display: inline-block;
                    list-style: none;
                    a{
                        display: inline-block;
                        font-size: .75rem;
                        padding: .5em 1em;
                        border-bottom: none;
                        &::after{
                            content: "";
                            display: block;
                            width: 0px;
                            background: $primary;
                            height: 3px;
                            transition: all .25s;
                            position: absolute;
                            bottom: 0;
                            left: 1em;
                        }
                        &.active,
                        &:hover{
                            &::after{
                                width: 20px;
                            }
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
