.title-container{
    height: 50vh;
    width: 100%;
    position: relative;
    background: $secondary;
    color: #fff;
    h1{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.innerContent{
    padding: 2em 1em;
    h2{
        font-size: 1.5rem;
        line-height: 1;
        margin: 0;
        color: $secondary;
        text-transform: uppercase;
        &::after{
            content: "";
            display: block;
            height: 4px;
            width: 50px;
            background: $primary;
            margin: .5em 0;
        }
    }
    .section{
        margin: 1em auto;
        padding: 1em 0;
    }
}